.homePage {
    display: grid;
    gap: 10px;
    padding: 10px;
    background-image: url(./layers/Texture\ Fill.png);
    background-size: 50%;
    height: 96.5%;
    width: 98.5%;
    }
.nav_buttons {
    grid-column: 2 / span 4;
    grid-row: 2;
    }
.item {
    background-color: rgba(0, 255, 255, 0.216);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    }
.item1 {
    background-color: rgba(0, 255, 255, 0.216);
    text-align: center;
    padding: 50px;
    font-size: 30px;
    }
.item2 {
    background-color: rgba(0, 255, 255, 0.216);
    text-align: center;
    padding: 10px;
    font-size: 30px;
    grid-column: 1 / span 6;
    grid-row: 7;
    text-align: left;
    }

.header {
    grid-column: 1 / span 6;
    grid-row: 1;
    
    }
.bike {
    background: url(./layers/bike_logo.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    grid-column: 1;
    grid-row: 2;
    }

.item > button {
    background-color: transparent;
    border: none;
    font-size: large;
    width: 15%;
    height: 50%;
    
    }
.item > button:hover {
    background-color: black;
    color: rgb(255, 255, 255);
    border: none;
    font-size: large;
    width: 15%;
    height: 50%;
    }
.content_1 {
    background-image: url(./layers/image.png);
    background-size: contain;
    background-repeat: no-repeat;
    grid-column: 1 / span 6;
    grid-row: 3 / span 4;
    }

.footer {
    grid-column: 1 / span 6;
    grid-row: 8;
    }
#insta {
    height: 40%;
    width: 3%;
    background-image: url(./layers/instagram.png);
    background-size: 90%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
#face {
    height: 40%;
    width: 3%;
    background-image: url(./layers/facebook.png);
    background-size: 90%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
#twit{
    height: 40%;
    width: 3%;
    background-image: url(./layers/twitter.png);
    background-size: 90%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
#whatsup {
    height: 40%;
    width: 3%;
    background-image: url(./layers/whatsapp.png);
    background-size: 90%;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
}
